<div class="container-fluid">
    {{#each dbArticle}}
    <div class="card card-width">
        <div class="card-body">
            <a href="{{link}}" class="card-link" target="_blank" data-id="{{_id}}">
                {{title}}               
            </a>
            <button class="btn btn-success save float-right" >Save Article</button>          
        </div>
    </div>
    {{/each}}
</div>