<div class="container-fluid">
    {{#each dbArticle}}
    <div class="card card-width">
        <div class="card-body">
           <h6 class="card-title">
               <a href="{{link}}" class="card-link" id="title" target="_blank" data-id="{{_id}}">
                {{title}}               
            </a>
            <div class="card-text" id="summary">{{summary}}</div>
            <button class="btn btn-success save float-right" >Save Article</button> 
            </h6>          
        </div>
    </div>
    {{/each}}
</div>