<div class="container-fluid">
    {{#each savedArticle}}
    <div class="card card-width">
        <div class="card-body">
            <h6 class="card-title">
                <a href="{{link}}" class="card-link" target="_blank" data-id="{{_id}}">
                    {{title}}
                </a>
            </h6>
            <div class="card-text">
                {{summary}}
            </div>
            <button type="button" class="btn btn-primary note float-right" data-toggle="modal" data-target="#modal">
                Notes
            </button>
            <button class="btn btn-danger delete float-right">Delete Article</button>

        </div>
    </div>
    {{/each}}
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="notes"></div>
        </div>
    </div>
</div>