<div class="container-fluid">  
    {{#each savedArticle}} 
    <div class="card card-width">
        <div class="card-body">
            <h4>
            <a href="{{link}}" class="card-link" target="_blank" data-id="{{_id}}">
                {{title}}
            </a>
            <button class="btn btn-success note float-right">Add Note</button>
            <button class="btn btn-danger delete float-right">Delete Article</button>
            </h4>
        </div>
    </div> 
   {{/each}}
</div>