.jumbotron {
    background-image: url("/assets/images/pexels-photo-518543.jpeg");
    height: 500px; 
}

h1 {
    font-family: 'Song Myung', serif;
    color: rgb( 226, 221, 221); 
}

.card-width {
    width: 100%; 
}