.jumbotron {
    background-image: url("/assets/images/pexels-photo-518543.jpeg");
    height: 500px; 
}

h1 {
    font-family: 'Song Myung', serif;
    color: rgb( 226, 221, 221); 
}

.card-width {
    width: 100%; 
}

button {
    color: white; 
    border: 1px solid gray; 
    float: right; 
}

.replace {
    float: right;
    color: gray;
    border: 1 px solid gray; 
}

.card-text {
    color: gray;
}

#bodyinput {
    color: gray;
}